{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="center-block" style="text-align: center">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method='POST' action='{% url "ocr" %}' enctype="multipart/form-data">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Recipe Upload</h4>
        </div>
        <div class="modal-body">
          <div class="inner cover">
            <input type="file" accept="image/*" id="capture" name="webcam" capture="camera"> 
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="continue" type="submit" class="btn btn-primary">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
            <h1 class="cover-heading"><img style src="/static/imgs/logo.png" alt=""></h1>
            <p class="lead">Scan your recipe and get the ingredients</p>
            <p class="lead">
              <a data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-default">Try it now</a>
            </p>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}