{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recipe Upload</h4>
      </div>
      <div class="modal-body">
        <div class="inner cover">

              <div id="cam">
              <object style="border-width: thin; border-color: gray;" id="XwebcamXobjectX" type="application/x-shockwave-flash" data="{% static "jquery-webcam/jscam_canvas_only.swf" %}" width="320" height="240"></object>

              </div>
              <div id="canv" style="display: none;"><canvas id="canvas" height="240" width="320"></canvas></div>
          </div>

              <div id="take"><p><a type="button" class="btn btn-default btn-lg" href="javascript:webcam.capture(); jQuery('#cam').hide(); jQuery('#canv').show(); jQuery('#take').hide(); jQuery('#reload').show(); jQuery('#continue').attr('disabled', false);"><span class="glyphicon glyphicon-camera"></span></a></p></div>
               <div id="reload" style="display: none;"> <p><a type="button" class="btn btn-default btn-lg" href="javascript:jQuery('#cam').show(); jQuery('#canv').hide();  jQuery('#take').show(); jQuery('#reload').hide(); jQuery('#continue').attr('disabled', true);"><span class="glyphicon glyphicon-refresh"></span></a></p></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="continue" disabled="disabled" type="button" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
            <h1 class="cover-heading">Order from your own Recipe</h1>
            <p class="lead">EZOrder scans your recipe and allows you to easily order the needed ingredients.</p>
            <p class="lead">
              <a data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-default">Try it now</a>
            </p>

{% endblock %}